.food-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 250px; /* Width of each food item */
  max-width: 100%; /* Ensures responsiveness */
}

.food-item:hover {
  transform: scale(1.05);
}

.food-item-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.food-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-item-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-name-rating p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.food-item-desc {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.food-item-price {
  font-size: 16px;
  font-weight: bold;
  color: #e63946; /* Adjust the color to fit your theme */
}
