@import "~@fortawesome/fontawesome-free/css/all.min.css";

.food-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 250px;
  height: 350px; /* Width of each food item */
  max-width: 100%; /* Ensures responsiveness */
}

.food-item:hover {
  transform: scale(1.05);
}

.food-item-image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.food-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.food-item-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-name-rating p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.food-item-desc {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.food-item-price {
  font-size: 16px;
  font-weight: bold;
  color: #e63946;
}

.fa-shopping-cart {
  cursor: pointer;
  margin-left: 50px;
  height: 40px;
}
.stars {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.star {
  color: #ffd700; /* Màu vàng */
  font-size: 16px; /* Kích thước sao */
  margin-right: 2px; /* Khoảng cách giữa các sao */
}
