.confirm-signup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-signup-container {
  width: 360px; /* Sử dụng giá trị cụ thể để đảm bảo nhất quán */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.5s;
}

.confirm-signup-title {
  font-size: 18px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-signup-title img {
  cursor: pointer;
  width: 24px; /* Slightly larger for easier interaction */
}

.confirm-signup-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px; /* Added margin for better spacing */
}

.confirm-signup-container button {
  padding: 10px 0;
  background-color: tomato; /* Changed to a soothing blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-signup-container button:hover {
  background-color: tomato; /* Darker shade on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
